@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        <p>@ViewBag.Message</p>
    </div>*@

<div class="row">
    <div class="col-md-4">
        <h2>Before you start</h2>
        <p>
            Check the prerequisites of this project and the project page:
            <ul>
                <li>Microsoft Azure Subscription</li>
                <li>Microsoft PowerBi Service</li>
                <li>Vtex "Account", "AppKey" and "AppToken"</li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="https://github.com/vtex/VtexInsights" target="_blank">Check the project page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This is an Open Source Application hosted on GitHub created with a single go in mind, give you more information over Vtex orders data with a BI enviroment hosted at <a href="https://azure.microsoft.com" target="_blank">Microsoft Azure</a>
        </p>
        <p>
            The code was created by a Vtex Employee <a href="https://github.com/Caldas" target="_blank">Fábio Caldas</a> and a Microsoft Employee <a href="https://github.com/ViniciusSouza" target="_blank">Vinícius Souza</a> to let you have a initial setup to access OMS data and view it using PowerBi.
            <b>Both companies are not supporting this project as a product</b>
        </p>
        <p><a class="btn btn-default" href="https://github.com/vtex/VtexInsights" target="_blank">Check the project page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pos-Deployment Steps</h2>
        <p>Before you start using this project it is necessary to perform some manual setup on Microsoft Azure Portal to have OMS data on Microsoft PowerBI service.</p>
        <p><a class="btn btn-default" href="https://github.com/vtex/VtexInsights/wiki" target="_blank">Manual steps &raquo;</a></p>
    </div>

</div>